<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/folder/asset/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Welcome</title>
    <link rel="stylesheet" href="/folder/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/folder/assets/css/Header-Blue--Sticky-Header--Smooth-Scroll.css">

</head>

<body>
    <div id="home">
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md" style="padding-top:30px;">
                <div class="container"><a class="navbar-brand" href="#" style="font-size:24px;">VIRTUAL
                        REALITY</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span
                            class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a
                                    class="nav-link active btn btn-light action-button" href="/" target="_top">Home </a>
                            </li><br>
                            <li class="nav-item" role="presentation"><a
                                    class="nav-link active btn btn-light action-button" href="/login">Login </a>
                            </li><br>
                            <li class="nav-item" role="presentation"><a
                                    class="nav-link active btn btn-light action-button" href="/signup"> Signup </a>
                            </li><br>
                            <li class="nav-item" role="presentation"><a
                                    class="nav-link active btn btn-light action-button" href="#contact">Contact </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-6 offset-xl-1">
                        <h1 style="margin-top:204px;">The VR revolution is here. </h1>
                        <p>Organically grow the holistic world view of disruptive innovation via workplace diversity and
                            empowerment. Bring to the table win-win survival strategies to ensure proactive domination.
                        </p><button class="btn btn-light btn-lg action-button" type="button"
                            style="padding-right:20px;padding-left:20px;padding-bottom:6px;padding-top:6px;font-size:16px;"
                            hover="background: #fff; color: #333;">Learn More</button>
                    </div>
                    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                        <div class="iphone-mockup"><img src="/folder/assets/img/iphone.svg" class="device">
                            <div class="screen"><img src="/folder/assets/img/mob.jpg" style="width:261px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/folder/assets/js/jquery.min.js"></script>
    <script src="/folder/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/folder/assets/js/Header-Blue--Sticky-Header--Smooth-Scroll-1.js"></script>
    <script src="/folder/assets/js/Header-Blue--Sticky-Header--Smooth-Scroll.js"></script>
</body>

</html>